.navbar {
    padding: 10px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 40px;
    color: #333;
    font-size: 1.3rem;
    align-items: center;
    padding-left: 50px;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}


.navbar button {
    border: none;
    font-weight: 700;
    padding: 1vw 1vw;
    background-color: #e2b7b9;
    font-size: max(0.8vw, 10px);
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50px;
}