.header {
    height: 92vh;
    position: relative;
}

.header-contents {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 5%;
    left: 4vw;
    animation: fadeIn 2s;
}

.header-contents h2 {
    font-weight: 700;
    color: white;
    font-size: max(4.5vw, 30px);
}

.header-contents p {
    font-size: 30px;
}

.header-contents button {
    border: none;
    color: red;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: blue;
    font-size: max(1vw, 13px);
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50px;
}